<div class="main-div">
  <img class="inspired-background" src="images/inspired-background-02.jpg" alt="A inspired background" />

  <nav class="navigation">
    <div class="navigation-logo">A-inspired</div>
    <div class="navigation-direct">
      <div class="navigation-direct-signup">Sign up</div>
      <div class="navigation-direct-login">Log in</div>
    </div>
  </nav>

  <form class="form">
    <div class="form-title">Book unique places to stay and things to do.</div>
    <div class="form-where form-common">
      <label>WHERE</label>
      <input type="text" placeholder="Anywhere" />
    </div>
    <div class="form-date">
      <div class="form-checkin form-common">
        <label>CHECK-IN</label>
        <input type="text" placeholder="mm/dd/yyyy" />
      </div>
      <div class="form-checkout form-common">
        <label>CHECKOUT</label>
        <input type="text" placeholder="mm/dd/yyyy" />
      </div>
    </div>
    <div class="form-guests form-common">
      <label>GUESTS</label>
      <input type="text" placeholder="Guests" />
    </div>

    <div class="form-search">
      <button>Search</button>
    </div>
  </form>
</div>