<div class="main-div">
  <img class="inspired-background" src="images/inspired-background-02.jpg" alt="A inspired background" />

  <nav class="navigation">
    <div class="navigation-logo">A-inspired</div>
    <div class="navigation-direct">
      <div class="navigation-direct-signup">Sign up</div>
      <div class="navigation-direct-login">Log in</div>
    </div>
  </nav>
</div>