<div class="main-div">
  <img class="inspired-background" src="images/inspired-background-02.jpg" alt="A inspired background" />

  <nav class="navigation">
    <div class="navigation-logo">A-inspired</div>
    <div class="navigation-direct">
      <div class="navigation-direct-signup">Sign up</div>
      <div class="navigation-direct-login">Log in</div>
    </div>
  </nav>

  <form class="form">
    <div class="form-title">Book unique places to stay and things to do.</div>
    <div class="form-where form-common">
      <label>WHERE</label>
      <input type="text" placeholder="Anywhere" />
    </div>
    <div class="form-date">
      <div class="form-checkin form-common">
        <label>CHECK-IN</label>
        <input type="date" placeholder="mm/dd/yyyy" />
      </div>
      <div class="form-checkout form-common">
        <label>CHECKOUT</label>
        <input type="date" placeholder="mm/dd/yyyy" />
      </div>
    </div>
    <div class="form-guests">
      <label>GUESTS</label>
      <button id="guests" class="form-guests-button">
        <div>Guests</div>
        <div><img width="10px" src="images/caret-down-solid.svg" /></div>
      </button>
      <div class="dropdown" data-toggle="false">
        <div class="dropdown-adults">
          <div>Adults</div>
          <div class="dropdown-count">
            <div class="circle" id="adults-minus">-</div>
            <div id="adults-count">0</div>
            <div class="circle" id="adults-plus">+</div>
          </div>
        </div>
        <div class="dropdown-children">
          <div>
            <div>Children</div>
            <div>Age 2-12</div>
          </div>
          <div class="dropdown-count">
            <div class="circle" id="children-minus">-</div>
            <div id="children-count">0</div>
            <div class="circle" id="children-plus">+</div>
          </div>
        </div>
        <div class="dropdown-infants">
          <div>
            <div>Infants</div>
            <div>Under 2</div>
          </div>
          <div class="dropdown-count">
            <div class="circle" id="infants-minus">-</div>
            <div id="infants-count">0</div>
            <div class="circle" id="infants-plus">+</div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-search">
      <button>Search</button>
    </div>
  </form>
</div>